
html {
  --main-background: white;
  --main-text-color: #343434;
  --main-font-family: 'Fira Sans', sans-serif;
  --main-font: 400 14px/1.5 "Fira Sans";

  --secondary-color: #45a1ff22;
  --heading-color: #424242;
  --heading-background: #efefef;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: var(--main-background);
  color: var(--main-text-color);
  font: var(--main-font);
  font-family: var(--main-font-family);
}

h1 {
  font-weight: 300;
  color: var(--heading-color);
  background: var(--heading-background);
  padding: 5px;
  text-align: center;
  margin: 0;
  margin-bottom: 5px;
}

.desc-box {
  width: 230px;
  padding-left: 33px;
  padding-right: 17px;
  padding-bottom: 30px;
  box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

footer > .desc-box {
  flex: 1;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 100px;
  padding-bottom: 18px;
}

.desc-box > h2 {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
}

.desc-box > p {
  font-size: 15px;
  font-weight: 300;
}

@font-face{
  font-family: 'Fira Sans';
  src: local('Fira Sans Light'),
  url('woff/FiraSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face{
  font-family: 'Fira Sans';
  src: local('Fira Sans Light Italic'),
  url('woff/FiraSans-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face{
  font-family: 'Fira Sans';
  src: local('Fira Sans Regular'),
  url('woff/FiraSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: 'Fira Sans';
  src: local('Fira Sans Regular Italic'),
  url('woff/FiraSans-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face{
  font-family: 'Fira Sans';
  src: local('Fira Sans Medium'),
  url('woff/FiraSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face{
  font-family: 'Fira Sans';
  src: local('Fira Sans Medium Italic'),
  url('woff/FiraSans-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face{
  font-family: 'Fira Mono';
  src: local('Fira Mono'),
  url('woff/FiraMono-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: 'Fira Mono';
  src: local('Fira Mono Bold'),
  url('woff/FiraMono-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}



.cd-timeline {
  position: relative;
  padding: 1em 10px;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: 10px;
  border-top: solid 4px #d7e4ed;
  color: #7f8c97;
  background-color: #e9f0f5;
}

.cd-timeline h2 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}
.cd-date {
  font-weight: bold;
}

#cd-timeline::before {
  /* this is the vertical line */
  content: "";
  position: absolute;
  top: 0;
  left: 28px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}

.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}
.cd-timeline-img.cd-subtraction {
  background: #75ce66;
}
.cd-timeline-img.cd-addition {
  background: #c03b44;
}
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: .5em;
  box-shadow: 0 3px 0 #d7e4ed;
}
.cd-timeline-content h2 {
  color: #303e49;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}
.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}
.cd-timeline-content::before {
  content: "";
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}

.cd-timeline-content small {
  border: solid 1px;
  border-radius: 5px;
  background: rgba(0, 0, 255, .05);
  font-size: 50%;
  vertical-align: middle;
  margin-right: 2px;
  padding: 3px;
}

.cd-details {

}

.cd-details summary {

}

.cd-details h2 {
  display: inline-block;
}