@import url("./fira/fira.css");

html {
  --main-background: white;
  --main-text-color: #343434;
  --main-font-family: 'Fira Sans', 'Open Sans', sans-serif, Arial;

  --data-photon-green: #3bddaa;
  --data-photon-magenta: #ed0083;
  --data-photon-blue: #45a1ff;

  --secondary-color: #45a1ff22;
  --heading-font-color: #424242;

  font: 400 14px/1.5 "Fira Sans";
}

.compact-only {
  display: none;
}
html.compact .compact-only {
  display: unset;
}
html.compact .full-only {
  display: none;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  background: var(--main-background);
  color: var(--main-text-color);
  font-family: var(--main-font-family);
}

html:not(.compact) body {
  min-width: 800px;
}

a,
html.compact a:visited {
  color: var(--data-photon-blue);
}

.iframe-container {
  width: 60%;
  margin: 0 auto;
}
.iframe-container > div {
  height: 0;
  padding-bottom: 50%;
  position: relative;
}
.iframe-container > div > iframe {
  border: none;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: block;
}

#footer {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
  display: flex;
}

h1 {
  grid-area: header;
  font-weight: 300;
  color: var(--heading-font-color);
  background: #efefef;
  padding: 5px;
  text-align: center;
  margin: 0;
  margin-bottom: 5px;
  /* border-bottom: 1px solid #ccc; */
  justify-self: stretch;
}

#home-link {
  position: absolute;
  right: 5px;
  top: 5px;
}

.desc-box {
  width: 230px;
  padding-left: 33px;
  padding-right: 17px;
  padding-bottom: 30px;
  box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

body.small .desc-box {
  padding-bottom: 10px;
}

#side > .desc-box {
  padding-top: 20px;
}

footer > .desc-box {
  flex: 1;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 100px;
  padding-bottom: 18px;
}

body.widthLimited.small #footer > .desc-box {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.desc-box > h2 {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
}

.desc-box > p {
  font-size: 15px;
  font-weight: 300;
}

/* description {
  background: var(--secondary-color);
  padding: 3px;
  margin: 0 auto;
  text-align: center;
  display: block;
  border-bottom: solid 1px #aaa;
  margin-bottom: 3px;
  flex: 0;
} */

#grid {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: minmax(750px, 1fr) auto;
  grid-template-areas:
    "header header"
    "graph sidebar";
  grid-gap: 5px;
  justify-items: center;
}

html.compact #grid {
  grid-template-columns: 1fr auto;
  overflow: hidden;
}

#component-specific-tests {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 400px;

  /* Add some padding based on the width so the graph doesn't get too vertical */
  /*
  box-sizing: border-box;
  padding-top: 10%;
  */
  grid-area: graph;
}

#table-container {
  grid-area: sidebar;
  height: 100%;
  overflow-y: auto;
  background: var(--main-background);
}

/* @media (max-width: 800px) {
  #table-container {
    width: 100px;
  }
} */

.filters {
  display: flex;
  justify-content: flex-end;
}

#table .swatch {
  width: 20px;
  display: inline-block;
  margin-right: 3px;
  user-select: none;
  cursor: pointer;
}
.mg-active-datapoint-container {
  transform: translate(-60px, -20px);
}
